@charset "utf-8";

@font-face {
    font-family: 'EksjaExtremesRegular';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.svg#webfont) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background: #385e86;  /* old dark blue: #36465F */
	margin: 0;
	padding: 0 0;
    position: relative;
}

h1 {
    font-size: 1.8em;
    margin-top: 0;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

/* h1, h2, */
h3, h4, h5, h6 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h1.scarc_logo {
	font-family: Times, serif;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 2em;
	vertical-align: text-bottom;
	margin-top: 0;
	margin-bottom: 0;
}

h1.announcement {
	margin: 0 0 1em .5em;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #038;
	font-weight: bold;
	font-size: 1em;
}

h1.series_title {
	margin: 0 0 .3em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #FF6000;
}

h2.scarc_logo {
		/*
	width: 25.3em;
		*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: .75em;
	margin: -.75em 0 0 0;
	text-align: right;
	color: #FF6000;
}

h2.section_title {
	margin: 0 0 .3em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #038;
}

h2.section_featured {
	margin: 0 0 .3em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #038;
}

h2.title {
	margin: 0 0 .3em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #036;
	font-variant: small-caps;
	line-height: 1.1em;
	/* letter-spacing: 1px; */
	/* text-transform: uppercase; */
}

h3.subtitle {
	margin: -.2em 0 0.2em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: black;
}

h3.lecture_speaker {
	margin: 0 0 0.3em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: .875em;
	color: black;
}


h3.catalogue-series {
	margin: .25em 0 0 0 auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
}


h4.catalogue-subseries {
	margin: .25em 0 0 0 auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	color: black;
}


h4.catalogue-pagetitle {
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.25em;
	color: black;
}


a:link {
		color: #C34500;    /* old orange: #D85FA1A;   */
		/* font-weight: bold; */
		/* text-decoration:none; */
}

a:visited {
		color: #C34500;   /* old darker orange: #FF7D4A;   */
		/* font-weight: bold; */
		/* text-decoration: none; */
}

a:hover {
		color: #C34500;
		/*font-weight: bold;*/
}



a.navigation:link {
		color: #385E86;
		font-weight: bold;
}

a.navigation:visited {
		color: #561F4B;
		font-weight: bold;
}

a.navigation:hover {
		color: #385E86;
		font-weight: bold;
}



a.title:link {
	font-size: .975em;
	font-weight: bold;
	text-decoration: none;
	color: #038;
}

a.title:visited {
	font-size: .975em;
	font-weight: bold;
	text-decoration: none;
	/* color: #038; */
}

a.title:hover {
	color: #385E86;
}


a.featured_title:link, h4 a:link {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #038;
}

a.featured_title:visited, h4 a:visited {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #038; 
}

a.featured_title:hover, h4 a:hover {
	color: #385E86; 
}

a.nostyle:link { color: inherit; text-decoration: none; }
a.nostyle:visited { color: inherit; text-decoration: none; }
a.nostyle:hover { color: #385E86; text-decoration: none; }

a.nowrap:link, a.nowrap:visited, a.nowrap:hover, a.nowrap:active  { white-space: nowrap; }

.browse-letter {
    font-size: 1.5em;
    padding-right: 20px;
}

.selected-char {
    font-weight: bold;
    color: #999999;
}

p {
	margin-top: 0px; 
	padding-top: 0px;
}

p, blockquote {
	color: black;
	/*font-size: .75em; */
	line-height: 1.25em;
	font-weight: normal;
	text-decoration: none;
}

p.main {
	font: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #000000;
}

p.scarc_title {	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	margin: .25em .75em auto;
	padding: 0 0 auto;
	color: #D4B384;
	}

p.content_white{
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: .75em;
	line-height: 1.25em;
	font-weight: normal;
	text-decoration: none;
}

p.content_orange{
	color: #FF6000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: .75em;
	line-height: 1.25em;
	font-weight: normal;
	text-decoration: none;
}

p.welcome {
	color: black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: .8em;
	line-height: 1.25em;
	font-weight: bold;
	text-decoration: none;
}

p.content_menubar{
	color: black;
	margin: 0 0 0 0;
	padding: 0 0 0 0.3em;
	font-size: .75em;
	line-height: 1.25em;
	font-weight: normal;
	text-decoration: none;
}

p.content_quote{
	color: #038;
	margin: 0 0 0.3em 0;
	padding: 0 0 0 0;
	font-size: .75em;
	line-height: 1.5em;
	font-weight: bold;
	font-style: italic;
}

p.featured {
	color: white;
	margin: 0 0 0 0;
	padding: 0 0 auto;
	line-height: 1.15em;
	font-size: .75em;
	font-weight: normal;
	text-decoration: none;
}

p.footer {
	margin: 2em auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	font-weight: normal;
	color: #EEEEEE;
}

p.flinks_left {
	width: 14em;
	height: 5em;
	margin: 2em 0 0 0;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	font-weight: bold;
	text-align: left;
	color: #EEEEEE;
	float: left;
}

p.flinks_right {
	width: 14em;
	height: 5em;
	margin: 2em 0 0 0;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	font-weight: bold;
	text-align: left;
	color: #EEEEEE;
	float: right;
}

p.small {
	font-size: .5em;
	font-weight: normal;
	width: 10;
	float: left;
	height: 10;
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

strong.main_intro{
	color: #800000;
	}

strong.scarc{
	color: #666666;
	}

strong.main{
	color: #666666;
	}
	
strong.welcome{
	color: #038;
}

strong.spvideo_name{
	color: #FF6000;
	margin: 0 auto;
	padding: 0 auto;
	font-size: .975em;
	font-weight: bold;
	text-decoration: none;
}
	

.caption-head {
	font-size: .85em;
	font-weight: bold;
}

.caption-desc {
	font-size: .85em;
}

.teifigure {
	float: left;
	padding-top: .5em;
	padding-bottom: 1em;
	padding-right: 2em;
}

	
a img {border: none;}

img.block {
	border-style: none;
	margin: 0 .5em 1em 0;
	padding: 0 0 0 0;
	display: block;
}

img.block_small {
	border-style: none;
	margin: 0 .5em 0 0;
	padding: 0 0 0 0;
	display: block;
}

img.block_rectangle {
	border-style: none;
	padding: none;
	margin: clear;
}


/** Header **/


#header-blacktop {
	width: 100%;
	height: 38px;
	background-color: #000;
	background-image: url('images/scarc-header-gradient.jpg');
	background-repeat: repeat-x;
	background-position: top left;
	border-bottom: 3px solid #F3D08E;   /* old: #d3b384;  */
}

#header-blacktop-container {
	width: 90%;
	margin: 0 auto; 
	/*
	border: 1px solid red;
	*/
	/* padding-top: 10px; */ 
	padding-left: 0px; 
	/*
	text-align: right;
	*/
	letter-spacing: .05em;
}

#header-blacktop-text {
	margin-left: 134px;
	/*
	border: 1px solid green;
	*/
	float: left;
	margin-top: 10px;
}

a.header-blacktop:link {
	font-size: .95em;
	text-decoration: none;
	color: #E3DED5;
	font-weight: normal;
}

a.header-blacktop:visited {
	font-size: .95em;
	text-decoration: none;
	color: #E3DED5;
	font-weight: normal;
}

a.header-blacktop:hover {
	font-size: .95em;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: normal;
}



#header-title {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
    /*background: #FFF url('images/scarc-header-title.jpg') no-repeat right;*/
	background-color: #ffffff;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 50%, rgba(255,255,255,0) 85%), url('images/bicycleguy-900x100.jpg') no-repeat right top; /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 50%,rgba(255,255,255,0) 85%), url('images/bicycleguy-900x100.jpg') no-repeat right top; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 50%,rgba(255,255,255,0) 85%), url('images/bicycleguy-900x100.jpg') no-repeat right top; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ), url('images/bicycleguy-140.jpg') no-repeat right top; /* IE6-9 */

}


img#osu-tag {
	position: absolute;
	top: 0px;
	margin-left: 1em;
}



/** Main Header Navigation Bar **/

#header-nav {
	width: 90%;
	height: 45px;
	margin: -1px auto 5px auto;
    background-color: #F3F3F3;
}

img#scarc-title {
	margin-left: 117px;
}

#nav {
	float: left;
}

#nav, #nav ul {
	padding: 0 0 0 .5em;
	margin: 0;
	list-style: none;
}

#nav a {
	display: block;
	text-decoration: none;
	color: #403E3A;
	font-weight: bold;
}

#nav li a {
    margin: 8px 0.7em 0 0;
	font-weight: bold;
    font-size: 1.2em;
}

#nav li {
	float: left;
	margin-right: .5em;
	font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 0.05em;
    padding-left: 1em;
}

#nav a:hover, #nav a:selected {
	color: #36465F;
	background-color: white;
	font-weight: normal;
}

#nav li ul {
	position: absolute;
	width: 18em;
	left: -999em;
	padding-bottom: .8em;
    z-index: 10;

	background-color: #E8E9EB;
	border-left: 1px solid #36465F;
	border-bottom: 1px solid #36465F;
	border-right: 1px solid #36465F;
}

#nav li ul li {
	font-family: Helvetica, Arial, sans-serif;
	font-variant: normal;
	font-size: .9em;
	font-weight: normal;
	letter-spacing: 0;

	padding: 0;
}

#nav li ul li a {
	padding: .3em;
}
	

#nav li:hover ul {
	left: auto;
}


#nav li ul li {
	width: 18em;
}


#nav li ul li a:hover {
	background-color: white;
}




/*
#osulogo {
	width: 100%;
	height: 3em;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #000;
	background-image: url('images/osulogo-black.gif');
	background-repeat: no-repeat;
	background-position: top left;
	text-align: left;
	}
*/


#scarc-header {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #000;
	/*
	background-image: url('images/scarc-header.jpg');
	*/
	background-repeat: no-repeat;
	background-position: top left;
	text-align: left;
	}


#header {
	width: 90%;
		height: 6.5625em;
	margin: 0 auto;
	padding: .3em 0 .5em 0;
	max-width: 90%;
	}


#scarc_logo {
	width: 40;
	height: 4em;
	margin: 0 .2em auto;
	padding: none;
	background-color: none;
	text-align: left;
	float: left;
}
	
#scarc_title {
	width: 11em;
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
	float: left;
	border-left: solid thin white;
	overflow: hidden;
}

#search {
	margin: 8px 5px 0 0;
	text-align: left;
	float: right;
}

#scarc_image {
	width: 90%;
	height: 6.5625em;
	background: transparent url(images/readingroom-pano.jpg) no-repeat center;
	margin: 0 auto;
	padding: 0 auto;
}


/** VERTICAL MENU CSS **/

.menubar {
width: 15em; /*width of menu*/
}

.menubar .headerbar {
margin: 0 0 .5em 0; /*bottom spacing between header and rest of content*/
padding: .3em 0 .3em .5em; /*header text is indented .5em*/
font: bold .875em Arial;
color: white;
background-color: #036;
text-transform: uppercase;
}

.menubar .headerbar a {
color: white;
}

.menubar ul.menubar {
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 1em; /*bottom spacing between each UL and rest of content*/
}

.menubar ul.menubar li {
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.menubar ul.menubar li a {
color: #037;
display: block;
padding: 2px 0;
/*
padding-left: 1.8em; 
text-indent: -1.6em;
*/
text-decoration: none;
font-weight: bold;
border-bottom: .2em solid orange;
font-size: .875em;
overflow: hidden;
}


.menu-1-id {
	width: 3em;
	float: left;
	text-align: right;
}

.menu-1-title {
	padding-left: 3.25em;
}


.menu-2-id {
	width: 2.5em;
	padding-left: 1.5em;
	float: left;
	text-align: right;
}

.menu-2-title {
	padding-left: 4.25em;
}


.menu-3-id {
	width: 5em;
	padding-left: 5em;
	float: left;
	text-align: right;
}

.menu-3-title {
	padding-left: 8em;
}

.menu-3-titleonly {
	padding-left: 8em;
	float: left;
}


.menu-selected {
	background-color: #FEEBCC;
}

.menu-selected.headerbar {
	background-color: #FEEBCC;
	color: #036;
	border: 3px solid #036;
}



/*
.menubar ul.menubar li a:visited {
color: orange;
}
*/

.menubar ul.menubar li a:hover {
color: #FF6000;
/* background-color: #037; */
}

/** END MENU CSS **/



.catalogue-file-id {
	width: 5em;
	float: left;
}


.catalogue-file-title {
	padding-left:0;
	padding-bottom: .25em;

	font-weight: bold;
}


.catalogue-item {
	clear: both;
}

.catalogue-item-textonly {
	clear: both;
	padding-left: 10;
}
	

.catalogue-item-id {
	width: 5em;
	padding-left: 4em;
	float: left;

}

.catalogue-item-title {
	padding-left: 10;
	padding-bottom: .25em;

}


.catalogue-item-nocontainer {
	padding-bottom: 1em;
}



/** PAGE NAVIGATION CSS **/

.pagenav-prev {
	width: 50%;
	float: left;
/*	background-color: red; */
}

.pagenav-next {
	width: 50%;
	float: right;
	text-align: right;
/*	background-color: blue; */
}

.pagenav-title {
	font-size: .75em;
}


/** VIDEO NAVBAR **/

.videobar{
height: 2.1em;
margin: 0 0 0 0;
padding: 0 0 0 0 0;
font-size: .75em;
font-weight: bold;
background-color: white;
}

.videobar ul{
height: 2em;
padding: .4em 0 0 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
margin: 0 auto;
/* text-align: right; //set value to "left", "center", or "right"*/

}

.videobar ul li{
display: inline;
}

.videobar ul li a{
height: 5em;
color: white;
padding: .3em 1em .4em 1em; /*top padding is 6px, bottom padding is 4px*/
margin: 0 0 0 0;
text-decoration: none;
background-color: orange;
}

.videobar ul li a:hover, .videobar ul li a.selected{
color: white;
background-color: #36465F;

}

.videobar ul li a:visited{
background-color: #36465F;
}

/** END VIDEO NAVBAR **/
	



#content {
	width: 90%;
	margin: 0 auto;
	margin-top: .2em;
	padding: 0;
	overflow: hidden;
	/*
	border-top: medium solid #C34500;
	*/
	/*
	border-bottom: medium solid orange;
	*/
	max-width: 61em;
	clear: both;
}

#content_box {
	margin: 0 0 1em auto;
	padding: 0 0 auto;
	clear: both;
}

#content_stats{
	width: 15em;
	margin: 0 auto;
	padding: 0 auto;
	float: right;
}

#content_highlight{
	background-color: #FEEBCC;
}


#coll-column-image {
	float: left;
	width: 150px;
}

#coll-column-text {
	float: right;
	width: 90%;
}



#main {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
	background-color: white;
	text-align: left;
	overflow: hidden;	
	}

#main_left {
	width: 35em;
	margin: 0 .25em auto;
	padding: 0 auto;
	text-align: left;
	float: left;
	}

#main > #main_news {
	padding-left: 1em;
	border-left: 3px solid #385E86;
}

#welcome {
	padding-top: .3em;
	padding-left: 0;
	padding-right: 1em;
}


#main_news {
	width: 20.3em;
	margin: 0 .5em auto;
	padding: 0;
	text-align: left;
	float: left;
}

#main_news > h2 {
	margin-left: -.5em;
	font-size: 1.4em;
	font-weight: bold;
	color: #385E86;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#main_news p {
	font-size: .9em;
}

#main_news p.dateline {
	font-size: .85em;
}

#main_news blockquote {
	font-size: .9em;
}


#main_news_hilite {
	background-color: #f5f2ed; 
	border: 1px solid #a7c4c9;	
	margin-top: 5px;
	
}


table#portals {
	padding-top: .8em;
	padding-left: 0;
}

table#portals tr td {
	padding: 0 1.5em .3em 0;
}


#featured-temp {
	width: 43.1em;
	margin-top: 1em;
	margin: -1.5em;
	padding: 1.5em;
	/*
	background-color: #D4B384;
	*/
/*
	background-color: #E3DED5;
*/
	background-color: #f3d08e;
}

#featured-temp h2 {
	font-size: 1.3em;
	font-weight: bold;
	color: #385E86;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}



/* Collections */


.coll-links p {
	font-size: 1.2em;
	font-face: Verdana, Arial, Helvetica, sans-serif;
}


.coll-list {
	line-height: 150%;
}



/* Subject Splash Pages */

div#university-history p img#title {
	margin-left: -1.25em;
}

table#university-history tr#university-history-text td {
	width: 50%;
	padding: 0;
	margin: 0;
}

div#natural-resources p img#title {
	margin-left: -1.25em;
	margin-top: -1.25em;
}

table#natural-resources tr#natural-resources-text td {
	width: 50%;
	padding: 0;
	margin: 0;
}

div#history-of-science p img#title {
	margin-left: -1.25em;
}

table#history-of-science tr#history-of-science-text td {
	width: 50%;
	padding: 0;
	margin: 0;
}

div#rare-books p img#title {
	margin-left: -1.25em;
}

table#rare-books tr#rare-books-text td {
	width: 50%;
	padding: 0;
	margin: 0;
}

div#rare-books div.entry h4 {
	font-size: 1em;
	margin-left: -1.25em;
	padding-left: .25em;
}

div#rare-books div.minientry > h4 {
	font-size: .9em;
	line-height: 1.5em;
}



div#ohba p img#title {
	margin-left: -1.25em;
}

table#ohba tr#ohba-text td {
		/*
	width: 50%;
	*/
	padding: 1.5em;
	margin: 0;
}



/* Digital Resources */

table#university-history {
	margin-left: -.6em;
	border: 0px;
	border-spacing: 0px;
}

table#university-history tr td {
	padding: 0;
	margin: 0;
}

table#university-history tr#university-history-text td {
	padding: 3em;
}


table#natural-resources {
	margin-left: -.6em;
	border: 0px;
	border-spacing: 0px;
}

table#natural-resources tr td {
	padding: 0;
	margin: 0;
}

table#natural-resources tr#natural-resources-text td {
	padding: 3em;
}


table#history-of-science {
	margin-left: -.6em;
	border: 0px;
	border-spacing: 0px;
}

table#history-of-science tr td {
	padding: 0;
	margin: 0;
}

table#history-of-science tr#history-of-science-text td {
	padding: 3em;
}


table#rare-books {
	margin-left: -.6em;
	border: 0px;
	border-spacing: 0px;
}

table#rare-books tr td {
	padding: 0;
	margin: 0;
}

table#rare-books tr#rare-books-text td {
	padding: 3em;
}


table#records-management {
	margin-left: -.6em;
	border: 0px;
	border-spacing: 0px;
}

table#records-management tr td {
	padding: 0;
	margin: 0;
}

table#records-management tr#records-management-text td {
	padding: 3em;
}

.row {
	clear: both;
	padding-top: 5px;
}

.column_left {
	width: 48%;
	float: left;
	/*
	border: 1px solid blue;
	*/
	padding: 0px;
}

.column_right {
	width: 48%;
	float: right;
	/*
	border: 1px solid green;
	*/
	padding: 0px;
}

.entry p {
	width: 280px;
	float: right;
	/*
	border: 1px solid yellow;
	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;

	padding-top: 10px;
	padding-bottom: 0px;
}


.minientry p {
		/*
	width: 220px;
	float: right;
		*/
	/*
	border: 1px solid yellow;
	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;

	padding-top: 10px;
	padding-bottom: 0px;
}


.entry-1col p {
	width: 751px;
	float: right;
	/*
	border: 1px solid yellow;
	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;

	padding-top: 10px;
	padding-bottom: 0px;
}




.entry > h4, .minientry > h4, .entry-1col > h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.entry img {
	border-style: none;
	padding-top: 0px;
	padding-left: 0px;
	margin-right: 12px;
	margin-bottom: 2px;
}

.minientry img {
	border-style: none;
	padding: 0px;
	margin-bottom: 0px;
	margin: clear;
}

.entry-1col img {
	border-style: none;
	padding-top: 0px;
	padding-left: 0px;
	margin-right: 12px;
	margin-bottom: 2px;
}


div.digitalresources > h1 {
	text-align: center;
	margin: 5px 0px -5px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #333333;
}

div.digitalresources > div#content > h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 10px;
}

div.entry > h4 {
	font-size: .8em;
}

div.minientry > h4 {
	font-size: .7em;
	line-height: 1.5em;
}





#tcolumn_left{
	width: 16em;
	margin: 0 .5em 0 0 auto; 
	padding-right: 0 auto;
	text-align: left;
	float: left;
/*	background-color: red; */
}

#tcolumn_center{
	width: 16em;
	margin: 0 .5em auto;
	padding: 0 auto;
	text-align: left;
	float: left;
	background-color: green;
}

#tcolumn_right{
	width: 41em;
	margin: 0 .5em auto; 
	padding: 0 auto;
	text-align: left;
	float: left;
}

#ncolumn_right {
	width: 41em;
	margin: 0 .5em auto;
	padding: 0 auto;
	text-align: left;
	float: left;
/*	background-color: purple; */
}

.text {
	font-size: .8em;
}


#transcript {
	width: 46em;
	margin: 1em .5em 0 .5em;
	padding: 0 auto;
	text align: left;
}

#transcript_video {
	width: 20;
	margin: 0 0 0 1.5em;
	padding: 0 auto;
	text align: right;
	float: right;
	overflow: hidden;
}

#video_infobox {
	margin: 0 0 0 0;
	padding: 1em .5em 1.5em .5em;
	text-align: left;
	float: left;
	background-color: #36465F;
	overflow: hidden;
}

#video_related {
	margin: 0 0 .5em 0;
	padding: 1em 1em 1em 0.5em;
	text-align: left;
	float: left;
	background-color: #FEEBCC;
}

#img_nav{
	width: 2em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	float: right;
	overflow: hidden;
	background-color: orange;
	color: white;
	font-weight: bold;
}

#featured {
	width: 58.5em;
	height: 20;
	margin: 0 auto;
	padding: .75em;
	/*
	background-color: #D4B384;
	*/
	background-color: #E3DED5;
}

#featured img {
	padding-right: 8px;
}


#featured_left {
	width: 29em;
	margin: 0 .25em auto;
	text-align: left;
	float: left;
	}

#featured_right{
	width: 28em;
	margin: 0 .5em auto;
	margin-top: 1.5em;
	padding: 0;
	text-align: left;
	float: left;
}


#footer {
	width: 100%;
	height: 11em;
	border-top: 3px solid #F3D08E;
	background-color: #252525;
	overflow: hidden;
	/* margin-top: 1em; */
}

#footer_inner {
	width: 90%;
	margin: 0 auto;
	padding: 0 auto;
}

#footer_left {
	/* background-color: red; */
	width: 29em;
	height: 8em;
	margin: 0 auto;
	padding: 0 auto;
	padding-left: 1.5em;
	text-align: left;
	float: left;
}

#footer_right {
	/* background-color: green; */
	width: 29em;
	height: 8em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	float: right;
}



a.footer:link {
	font-size: .975em;
	font-weight: bold;
	text-decoration: none;
	color: #E3DED5;
}

a.footer:visited {
	font-size: .975em;
	font-weight: bold;
	text-decoration: none;
	color: #E3DED5;
}

a.footer:hover {
	color: #FFFFFF;
}



/* Document Styles */

#document-text {
	float: left;
	width: 49em;
	padding: 1.5em;
}

#document-tableofcontents {
	float: right;
	width: 19em;
	padding: .5em;
}



.pageTitle	{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em; 
}


table {
	border: 0;
}

td {
	padding: .25em;
	vertical-align: top;
}


#document-tableofcontents h3 {
	color: #FFFFFF;
	font-size: 1.2em;
	font-family: Verdana, Arial, sans-serif;
}

#document-tableofcontents ol, #document-tableofcontents ul {
	margin-left: -10px;
}

#document-tableofcontents li {
	padding-bottom: 1em;
}

#document-tableofcontents li.selected {
	color: #000000;
}

#document-tableofcontents li ol {
	font-size: .9em;
	padding-top: .5em;
}

#document-tableofcontents li ol li {
	padding-bottom: .5em;
}


#document-nav-previous {
	float: left;
	width: 14em;
	font-size: 1.3em;
}

#document-nav-next {
	float: right;
	width: 14em;
	text-align: right;
	font-size: 1.3em;
}

#document-returnlink {
	font-size: .9em;
	font-family: Georgia, Palatino Linotype, Palatino, Times New Roman, serif;
	margin-top: 2em;
}


/* Document: Pauling Learning Curriculum */

#curriculum #document-text {
	float: left;
	width: 39.5em;
	padding: .5em;
}



/* Document: Ninety Days Inside The Empire */

#ninetydays {
	background-color: #5C0A0A;
	border: 1px solid #5C0A0A;
}


#ninetydays #epigraph {
	float: left;
	width: 45%;
	padding: 1.5em;
}

#ninetydays #epigraph p {
	font-family: Georgia, Palatino Linotype, Palatino, Times New Roman, serif;
	font-size: 1.2em;
	text-indent: 0;
	line-height: 1.4em;
	color: #FFF8DC;
}	

#ninetydays #enterlink {
	float: right;
	width: 40%;
	padding: 1.5em;
	font-family: Georgia, Palatino Linotype, Palatino, Times New Roman, serif;
	font-size: 1.4em;
	color: #FFF8DC;
}

#ninetydays #enterlink a {
	color: #CC9966;
}


#ninetydays #document-text {
	background-color: #FFF8DC;
}

#ninetydays #document-tableofcontents {
	background-color: #5C0A0A;
	color: #FFF8DC;
}


#ninetydays p {
	font-family: Georgia, Palatino Linotype, Palatino, Times New Roman, serif;
	text-align: justify;
	font-size: 1.2em;
	text-indent: 3em; 
	line-height: 1.4em;
	margin-bottom: .25em;
}	


#ninetydays h2 {
	font-family: Georgia, Palatino Linotype, Palatino, Times New Roman, serif;
	font-weight: normal;
	float: left;
	margin-top: 0px;
	padding-top: 0px;
}

#ninetydays #document-pagenumber {
	float: right;
	font-family: Palatino Linotype, Palatino, Times New Roman, serif;
}

#ninetydays #document-tableofcontents li {
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
}

#ninetydays #document-tableofcontents li.selected {
	color: #FFFFFF;
}

#ninetydays #document-tableofcontents li.selected a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#ninetydays #document-tableofcontents a {
	color: #CC9966;
}

#ninetydays td {
	vertical-align: top;
}

#ninetydays p .dropcap {
	float: left;
	color: #734A12;
	font-size: 3.3em;
	font-weight: bold;
	line-height: .9em;
	margin-right: 0.15em;
	margin-bottom: -0.3em; 
}

#ninetydays p.dropcap {
	text-indent: 0 !important;
}

#ninetydays p.dropcap:first-line {
	text-transform: uppercase;
}

#researchblock {
    float: right;
    font-size: 0.95em;
    margin-right: 5px;
    padding-top: 0;
    color: #FFF;
    text-align: right;
    margin-top: 10px;
}

#researchblock a {
    color: #FFF;
    font-weight: normal;
}

#browsebyblock {
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    text-align: left;
    overflow: hidden;
}


.ccardlabel {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
}

.ccardcontent {
    padding: 4px 0;
}

.ccardshowlist {
    margin-left: 0.5em;
}

#CollectionAbstractResults {
    padding: 5px 0;
    font-size: 1.1em;
}

#ccardstaff {
    margin-top: 10px;
    border-top: 2px solid #000000;
    padding: 5px;
}

.cart {
    margin-left: 8px;
}

.scarctitle {
    font-family: 'EksjaExtremesRegular',Arial,Helvetica,Verdana,sans-serif;
    font-size: 2.25em;
    margin-left: 125px;
    color: #c34500;
    width: 45%;
    line-height: 1.2;
    padding-top: 5px;
}

#digitalcontentResults {
    margin-bottom: 10px;
}

#digitalcontentResults .digcontentfile {
    width: 95%;
    margin-bottom: 5px;
}

dt.faitem {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
}

dt.faitemnormal {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
}

dl.faitem {
    margin-left: 15px;
}

dl.faitem dt.faitem {
    margin-top: 10px;
}

dd.faitemcontent, dd.faitemdesc, dd.faitemuserfields {
    padding-left: 10px;
}

h3 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1em;
    color: #333333;
}

.falinks {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
}

.affix {
    top: 20px;
}

div.ccardserieslist {
    margin-bottom: 7px;
}

.ccardlabel a:link, .ccardlabel a:visited {
    color: #000000;
    text-decoration: none;
}

.ccardlabel a:hover {
    color: #c34500;
    text-decoration: underline;
}

ul.containers li.active a, ul.containers li.active a:hover {
    color: #fff;
    background: #385e86;
}

.containers>li>a {
    padding: 3px 5px;
    border-radius: 0;
}

.containers {
    border-bottom: none;
}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

@media (max-width: 1145px) {
    div#search {
        float: left;
        width: 100%;
        background-color: #E8E9EB;
        margin: 0 0 5px 0;
        padding: 5px;
    }
    .scarctitle {
        font-size: 1.5em;
    }
    #header-nav, #header-title, #main {
        width: 100%;
    }
    #header-blacktop-text {
        margin-left: 115px;
    }
    #header-blacktop-container {
        width: 98%;
    }

}

dl#CollectionResults {
    margin-top: 5px;
}

dl#CollectionResults>dd {
    margin-left: 15px;
    margin-bottom: 5px;
}

dl.CollectionClassEnabledResults dt{
    margin-top: 7px;
    font-weight: normal;
}

dl.CollectionClassEnabledResults dd{
    margin-left: 7px;
}

dl#SubjectResults dt, dl#CreatorResults dt {
    font-weight: normal;
}

div#coll-container-list>dl>dd>dl.faitem>dt {
    /*font-weight: normal;*/
    padding-top: 8px;
}

/* Hide the Green Arrow that indicates there is digital content - #58 */
#scarc-controlcard img.dl {
    display: none;
}

/* Set the highlight color for search results within finding aids */
[class^=highlight] {
    background-color: #FFFFCC;
}

/* Allows the list of letters to adjust with screen size and break appropriately */
div.center {
    word-wrap: break-word;
}

div#fa-left-column {
    font-size: 1.2em;
}

div#nav-container-list {
    font-size: 0.9em;
}

div.searchTitleAndResults a, div.searchTitleAndResults a:link, div.searchTitleAndResults a:visited  {
    color: #000000;
    text-decoration: none;
}

div.searchTitleAndResults a:hover {
    color: #c34500;
    text-decoration: underline;
}

input#qfa {
    margin-right: -10px;
    padding-right: 10px;
}

#other_guides {
    font-size: 0.8em;
}

img.home-image {
    width: 100%;
}

figcaption {
    margin-top: 5px;
    font-size: 0.95em;
}

#userformsubmit {
    margin-top: 0.5em;

}

legend {
    font-size: 1.3em;
}

.listitemhead {
    font-size: 1.1em;
}

.bold {
    font-weight: bold;
}

#classificationlist {
    font-size: 1.1em;
}

.classificationlist-id {
    font-size: 0.9em;
}

.research_add, .research_delete {
    margin-left: 6px;
    margin-bottom: 7px;
}

#cart-button .research_add, #cart-button .research_delete {
    margin: 0;
}

#researchcart {
    margin-top: 8px;
}

div.repogrp dt {
    margin: 4px 0;
}

div.repogrp dd {
    margin: 4px 0 4px 5px;
}

.more-info-link {
    font-weight: normal;
    font-size: 0.9em;
}

.divider {
    color: #666666;
    font-weight: normal;
    padding: 0 3px;
}

/* Search results titles */
#AccessionTitle, #PdfCLTitle, #CollectionTitle, #SubjectTitle, #CreatorTitle {
    font-size: 1.2em;
    font-weight: bold;
}

dl#PdfCLResults dt {
    margin: 4px 0 4px 15px;
}

#PdfCLDesc {
	font-size: 1.1em;
	margin-top: 8px;
}

dt#PdfCLDesc {
	padding: 5px;
	background-color: #F5F2ED;
}

.info-message {
	color: #373737;
	font-size: 1.1em;
	padding: 10px;
	background-color: #F5F2ED;
	border: 1px solid #DEDEDE;
}

/* 508 accessibility */
/* Added skip navigation  */
#skiptocontent a {
    font-size: 1.5em;
    padding:12px;
    position: absolute;
    top:-70px;
    left:0px;
    color:white;
    border-right:2px solid white;
    border-bottom:2px solid white;
    background:transparent;
    -webkit-transition: top 1s ease-out, background .5s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}
/* transitions the skip link in when it's given focus by tab */
#skiptocontent a:focus {
    position:absolute;
    left:0px;
    top:0px;
    background:#D85A1A;
    outline:0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}

#acrobatDownload {
     font-size: .85em;
 }
